In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df = pd.read_csv("/content/crop_production.csv")
df[:5]

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [ ]:
data1 = df.drop(["Crop_Year"],axis=1)

In [ ]:
data1.head()

,State_Name,District_Name,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,Whole Year,Cashewnut,720.0,165.0

In [ ]:
df.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [ ]:
data = df.dropna()
print(data.shape)
test = df[~df["Production"].notna()].drop("Production",axis=1)
print(test.shape)

(242361, 7)
(3730, 6)

In [ ]:
print(test)

                         State_Name   District_Name  Crop_Year       Season  \
46      Andaman and Nicobar Islands        NICOBARS       2005  Whole Year
51      Andaman and Nicobar Islands        NICOBARS       2005  Whole Year
623                  Andhra Pradesh       ANANTAPUR       2007  Kharif
630                  Andhra Pradesh       ANANTAPUR       2007  Rabi
698                  Andhra Pradesh       ANANTAPUR       2009  Rabi
...                             ...             ...        ...          ...
244128                  West Bengal  MEDINIPUR WEST       2010  Rabi
244581                  West Bengal     MURSHIDABAD       2006  Kharif
245606                  West Bengal         PURULIA       2001  Rabi
245644                  West Bengal         PURULIA       2002  Rabi
245865                  West Bengal         PURULIA       2008  Rabi

                         Crop     Area
46                   Arecanut   795.67
51               Dry chillies    17.00
623         Moong(Green Gram)  1000.00
630                Horse-gram  1000.00
698         Rapeseed &Mustard     8.00
...                       ...      ...
244128  Peas & beans (Pulses)     2.00
244581      Moong(Green Gram)   200.00
245606      Rapeseed &Mustard   427.00
245644      Rapeseed &Mustard   522.00
245865                Khesari     2.00

[3730 rows x 6 columns]

In [ ]:
test.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area
46,Andaman and Nicobar Islands,NICOBARS,2005,Whole Year,Arecanut,795.67
51,Andaman and Nicobar Islands,NICOBARS,2005,Whole Year,Dry chillies,17.00
623,Andhra Pradesh,ANANTAPUR,2007,Kharif,Moong(Green Gram),1000.00
630,Andhra Pradesh,ANANTAPUR,2007,Rabi,Horse-gram,1000.00
698,Andhra Pradesh,ANANTAPUR,2009,Rabi,Rapeseed &Mustard,8.00

In [ ]:
sum_maxp = data["Production"].sum()
data["percent_of_production"] = data["Production"].map(lambda x:(x/sum_maxp)*100)

<ipython-input-41-7fccf581cd61>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["percent_of_production"] = data["Production"].map(lambda x:(x/sum_maxp)*100)

In [ ]:
data[:5]

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,percent_of_production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,1.416670e-06
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,7.083351e-10
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2.273756e-07
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,4.540428e-07
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,1.168753e-07

In [ ]:
data_dum = pd.get_dummies(data)
data_dum[:5]

,Crop_Year,Area,Production,percent_of_production,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
0,2000,1254.0,2000.0,1.416670e-06,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2000,2.0,1.0,7.083351e-10,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2000,102.0,321.0,2.273756e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2000,176.0,641.0,4.540428e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,720.0,165.0,1.168753e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x = data_dum.drop("Production",axis=1)
y = data_dum[["Production"]]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33, random_state=42)
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (162381, 812)
x_test : (79980, 812)
y_train : (162381, 1)
y_test : (79980, 1)

In [ ]:
x_train[:5]

,Crop_Year,Area,percent_of_production,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,State_Name_Chhattisgarh,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
4843,2001,785.0,1.486087e-06,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20626,2008,1250.0,5.829598e-07,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240277,2013,2.0,1.452087e-07,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20664,2009,60.0,4.646678e-07,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
157859,2004,605.0,6.729184e-08,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y_train

        Production
4843        2098.0
20626        823.0
240277       205.0
20664        656.0
157859        95.0
...            ...
122353      3103.0
105927    238501.0
134528       100.0
149528      1470.0
124463      2831.0

[162381 rows x 1 columns]

In [ ]:
#Linear regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
preds = model.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
mean_squared_error(y_test,preds)
r2_score(y_test,preds)

1.0

In [ ]:
#Decision tree analysis: 
from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(random_state=42)
regressor.fit(x_train,y_train)

DecisionTreeRegressor(random_state=42)

In [ ]:
preds = regressor.predict(x_test)

mean_squared_error(y_test,preds)
r2_score(y_test,preds)

0.9986742537519292