In [1]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install seaborn

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Requirement already satisfied: pandas in ./app/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in ./app/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in ./app/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./app/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./app/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in ./app/lib/python3.10/site-packages (1.24.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in ./app/lib/python3.10/site-packages (3.6.3)
Requirement already satisfied: cycler>=0.10 in ./app/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in ./app/lib/python3.10/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: packaging>=20.0 in ./app/lib/python3.10/site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in ./app/lib/python3.10/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./app/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in ./app/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.19 in ./app/lib/python3.10/site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: contourpy>=1.0.1 in ./app/lib/python3.10/site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: python-dateutil>=2.7 in ./app/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in ./app/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 8.8 MB/s eta 0:00:00
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in ./app/lib/python3.10/site-packages (from seaborn) (3.6.3)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in ./app/lib/python3.10/site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pandas>=0.25 in ./app/lib/python3.10/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: kiwisolver>=1.0.1 in ./app/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in ./app/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: packaging>=20.0 in ./app/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: contourpy>=1.0.1 in ./app/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in ./app/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in ./app/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in ./app/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: python-dateutil>=2.7 in ./app/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./app/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in ./app/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
df = pd.read_csv("./content/crop_production.csv")
df[:5]

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [4]:
data1 = df.drop(["Crop_Year"],axis=1)

In [5]:
data1.head()

,State_Name,District_Name,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,Whole Year,Cashewnut,720.0,165.0

In [6]:
df.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [7]:
data = df.dropna()
print(data.shape)
test = df[~df["Production"].notna()].drop("Production",axis=1)
print(test.shape)

(242361, 7)
(3730, 6)

In [8]:
print(test)

                         State_Name   District_Name  Crop_Year       Season  \
46      Andaman and Nicobar Islands        NICOBARS       2005  Whole Year
51      Andaman and Nicobar Islands        NICOBARS       2005  Whole Year
623                  Andhra Pradesh       ANANTAPUR       2007  Kharif
630                  Andhra Pradesh       ANANTAPUR       2007  Rabi
698                  Andhra Pradesh       ANANTAPUR       2009  Rabi
...                             ...             ...        ...          ...
244128                  West Bengal  MEDINIPUR WEST       2010  Rabi
244581                  West Bengal     MURSHIDABAD       2006  Kharif
245606                  West Bengal         PURULIA       2001  Rabi
245644                  West Bengal         PURULIA       2002  Rabi
245865                  West Bengal         PURULIA       2008  Rabi

                         Crop     Area
46                   Arecanut   795.67
51               Dry chillies    17.00
623         Moong(Green Gram)  1000.00
630                Horse-gram  1000.00
698         Rapeseed &Mustard     8.00
...                       ...      ...
244128  Peas & beans (Pulses)     2.00
244581      Moong(Green Gram)   200.00
245606      Rapeseed &Mustard   427.00
245644      Rapeseed &Mustard   522.00
245865                Khesari     2.00

[3730 rows x 6 columns]

In [9]:
test.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area
46,Andaman and Nicobar Islands,NICOBARS,2005,Whole Year,Arecanut,795.67
51,Andaman and Nicobar Islands,NICOBARS,2005,Whole Year,Dry chillies,17.00
623,Andhra Pradesh,ANANTAPUR,2007,Kharif,Moong(Green Gram),1000.00
630,Andhra Pradesh,ANANTAPUR,2007,Rabi,Horse-gram,1000.00
698,Andhra Pradesh,ANANTAPUR,2009,Rabi,Rapeseed &Mustard,8.00

In [10]:
sum_maxp = data["Production"].sum()
data["percent_of_production"] = data["Production"].map(lambda x:(x/sum_maxp)*100)

/var/folders/xx/cq2k_b4j60l3mtp2k3x41s0w0000gn/T/ipykernel_92733/1048416122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["percent_of_production"] = data["Production"].map(lambda x:(x/sum_maxp)*100)

In [11]:
data[:5]

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,percent_of_production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,1.416670e-06
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,7.083351e-10
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2.273756e-07
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,4.540428e-07
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,1.168753e-07

In [12]:
data_dum = pd.get_dummies(data)
data_dum[:5]

,Crop_Year,Area,Production,percent_of_production,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
0,2000,1254.0,2000.0,1.416670e-06,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2000,2.0,1.0,7.083351e-10,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2000,102.0,321.0,2.273756e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2000,176.0,641.0,4.540428e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,720.0,165.0,1.168753e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
x = data_dum.drop("Production",axis=1)
y = data_dum[["Production"]]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33, random_state=42)
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (162381, 812)
x_test : (79980, 812)
y_train : (162381, 1)
y_test : (79980, 1)

In [14]:
x_train[:5]

,Crop_Year,Area,percent_of_production,State_Name_Andaman and Nicobar Islands,State_Name_Andhra Pradesh,State_Name_Arunachal Pradesh,State_Name_Assam,State_Name_Bihar,State_Name_Chandigarh,State_Name_Chhattisgarh,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
4843,2001,785.0,1.486087e-06,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20626,2008,1250.0,5.829598e-07,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240277,2013,2.0,1.452087e-07,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20664,2009,60.0,4.646678e-07,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
157859,2004,605.0,6.729184e-08,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
y_train

        Production
4843        2098.0
20626        823.0
240277       205.0
20664        656.0
157859        95.0
...            ...
122353      3103.0
105927    238501.0
134528       100.0
149528      1470.0
124463      2831.0

[162381 rows x 1 columns]

In [16]:
#Linear regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [17]:
preds = model.predict(x_test)

In [18]:
from sklearn.metrics import mean_squared_error, r2_score
mean_squared_error(y_test,preds)
r2_score(y_test,preds)

1.0

In [19]:
#Decision tree analysis: 
from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(random_state=42)
regressor.fit(x_train,y_train)

DecisionTreeRegressor(random_state=42)

In [20]:
preds = regressor.predict(x_test)

mean_squared_error(y_test,preds)
r2_score(y_test,preds)

0.9986742537519292

In [22]:
%pip install pickle5

Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.1/132.1 kB 7.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Installing collected packages: pickle5
  DEPRECATION: pickle5 is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for pickle5 ... done
Successfully installed pickle5-0.0.11
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pickle5 as pickle

In [24]:
# Load the model you want to save your model
model =  regressor

# Save the model to a file
with open("model.pkl", "wb") as f:
    pickle.dump(model, f)

In [25]:
df['Season'].unique()

array(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ',
       'Summer     ', 'Winter     '], dtype=object)

In [40]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Load the data into a pandas DataFrame
data = pd.read_csv('./content/crop_production.csv')

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [42]:
data = data[data["Production"] != 0]
data = data.drop(["Crop_Year", "Area", "Production"], axis=1)

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242568 entries, 0 to 246090
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     242568 non-null  object
 1   District_Name  242568 non-null  object
 2   Season         242568 non-null  object
 3   Crop           242568 non-null  object
dtypes: object(4)
memory usage: 9.3+ MB

In [54]:
le = LabelEncoder()

In [55]:
data["State_Name"] = le.fit_transform(data["State_Name"])
data["District_Name"] = le.fit_transform(data["District_Name"])
data["Season"] = le.fit_transform(data["Season"])
data["Crop"] = le.fit_transform(data["Crop"])

In [56]:
X = data[['State_Name', 'District_Name', 'Season']]
y = data['Crop']

In [59]:
y.head(5)

0     1
1    65
2    81
3     5
4    18
Name: Crop, dtype: int64

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [61]:
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=42)

In [64]:
preds = model.predict(X_test)

In [68]:
from sklearn.metrics import mean_squared_error, r2_score
mean_squared_error(y_test,preds)
r2_score(y_test,preds)

0.04237384347125894

In [69]:
score = model.score(X_test, y_test)
print("Model accuracy: {:.2f}%".format(score * 100))

Model accuracy: 4.24%

In [67]:
data.head()

   State_Name  District_Name  Season  Crop
0           0            427       1     1
1           0            427       1    65
2           0            427       1    81
3           0            427       4     5
4           0            427       4    18